.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}
//.container{
//  padding: 20px 0;
//  height:100px;
//  width:100px;
//  background-color:green;
//}
.timer_block{
  position: relative;
  width:300px;
  background-color: rgb(51,51,51);
  padding-top:10px;
  margin-right:auto;
  margin-left:auto;
  border-radius: 10px;
}
.timer_header{
  border-radius: 10px;
  margin-top:-10px;
  width:100%;
  background-color: black;
}
.timer_itself{
  font-size: 30px;
  color: white;
  text-align: center;
  //padding:0 50px 0 50px;
}
.timer_buttons{
  background-color: white;
  border-top: 1px solid grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
button{
  border:none;
  background-color: white;
  text-decoration: none;
}
.btn_timer, .btn_play_skin, .btn_time_skin, .btn_delete_skin{
  margin-right:auto;
  margin-left:auto;
  padding:10px 10px;
  display: inline-block;
}
.time_from_list{
  margin:15px;
  color:white;
}
input{
  width:100%;
  background-color: black;
}
.time_list{
  color:white;
  padding:10px 0 10px 0;
  font-weight: 200;
}
.play-img{
  padding:0px;
  width:20px;
}
.btn_play_skin{
  width:40%;
  border-right: 1px solid grey;
}
.btn_time_skin{
  width:25%;
  border-right: 1px solid grey;
}
.btn_delete_skin{
  width:25%;
}
.separate_line{
  border-top:1px solid grey;
  width:100%;
}
.pause-img{
  width:10px;
}
