

<div class="container">
</div>
<div class="timer_block">
  <div class="timer_header">
    <div class="timer_itself">
      <timer ng-model ="$ctrl.value">
        <!--autostart="$ctrl.timerRunning">-->
        <div>
          {{minutes}}:{{seconds}}:{{millis}}
          <!--<button type="button" ng-click="$ctrl.checkMoment(minutes,seconds,millis)"> check</button>-->
        </div>
      </timer>
    </div>

    <div class="timer_buttons">
     <div class="btn_play_skin">
        <button class="btn-timer btn_play"  ng-click="$ctrl.startTimer()" ng-show="$ctrl.playBtn">
          <img src='assets/images/grey_triangle.png' class="play-img" >
          Play
        </button>
       <button class="btn-timer btn_stop" ng-click="$ctrl.stopTimer()" ng-show="$ctrl.stopBtn">
         <img src='assets/images/pause-icon.png' class="pause-img" >
         Pause
       </button>
     </div>
      <div class="btn_time_skin">
        <button class="btn-timer btn_time" ng-click="$ctrl.rememberTime()">
          <img src='assets/images/time-xxl.png' class="play-img" >
        </button>
      </div>
      <div class="btn_delete_skin">
        <button class="btn-timer btn_delete" ng-click="$ctrl.delete()">
        <img src='assets/images/delete_icon.png' class="play-img" >
        </button>
      </div>
    </div>
  </div>

  <div class="time_list" ng-repeat="time in $ctrl.timePoints">
  <div class="single_time">
    <span class="time_from_list"> {{time.minutes}} : {{time.seconds}} : {{time.millis}}</span>
    <div class="btn_remove" id="btn_remove">
    </div>
    <div class="separate_line">
    </div>
  </div>

  </div>
</div>
